#Store all your config's here.
#added to gitignore so will not be syned
shodan_api="{{ shodan_api }}"
bing_api="{{ bing_api }}"
github_access_token="{{ github_access_token }}"
builtwith_api="{{ builtwith_api }}"
censysio_id="{{ censysio_id }}"
censysio_secret="{{ censysio_secret }}"
facebook_access_token = "{{ facebook_access_token }}"
flickr_api="{{ flickr_api }}"
google_api="{{ google_api }}"
google_cse="{{ google_cse }}"
hashes_api="{{ hashes_api }}"
instagram_api="{{ instagram_api }}"
instagram_secret="{{ instagram_secret }}"
ipinfodb_api="{{ ipinfodb_api }}"
jigsaw_api="{{ jigsaw_api }}"
jigsaw_password="{{ jigsaw_password }}"
jigsaw_username="{{ jigsaw_username }}"
linkedin_api="{{ linkedin_api }}"
linkedin_secret="{{ linkedin_secret }}"
twitter_consumer_key="{{ twitter_consumer_key }}"
twitter_consumer_secret="{{ twitter_consumer_secret }}"
twitter_access_token = "{{ twitter_access_token }}"
twiter_access_token_secret = "{{ twiter_access_token_secret }}"
zoomeyeuser = "{{ zoomeyeuser }}"
zoomeyepass = "{{ zoomeyepass }}"
clearbit_apikey = "{{ clearbit_apikey }}"
emailhunter="{{ emailhunter }}"
jsonwhois="{{ jsonwhois }}"
fullcontact_api = "{{ fullcontact_api }}"